html {
    scroll-padding-top: 14.2dvh;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid 1px red; */
    font-family: sans-serif;
    line-height: 1.6;
}

:root {
    --radius: 25px;
    --pri-shadow: 0 0 1rem 0.25rem rgba(125, 175, 255, 0.5);
    --sec-shadow: 0 0 1rem 0.25rem rgba(255, 175, 125, 0.5);
    --add-shadow: 0 0 1rem 0.25rem rgba(125, 255, 175, 0.5);
    --sub-shadow: 0 0 1rem 0.25rem rgba(255, 125, 175, 0.5);
    --transition: all 0.5s ease-in-out;
    --transform: translateY(-5px) scale(1.05);
    --pri-col: #1A365D;
    --sec-col: #E2F1FF;
    --ter-col: #F4F8FC;
    --punch-col: #00A3FF;
    --add-pri-col: #065F46;
    --add-sec-col: #D1FAE5;
    --sub-pri-col: #991B1B;
    --sub-sec-col: #FEE2E2 ;
}

.djcai {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glow-highlight {
    animation: temporary-glow 3s ease-in-out;
}

@keyframes temporary-glow {
    0% {
        box-shadow: inset 0 0 5rem 1rem rgba(255, 175, 125, 1);
    }
    100% {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* ================================================== HEADER ================================================== */

/* ************************* navBar ************************* */
.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    box-shadow: var(--pri-shadow);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.user {
    background-color: lightskyblue;
    padding: 1rem;
    border-radius: var(--radius);
    color: darkblue;
    font-weight: bold;
}

/* ************************* list ************************* */
.navbar ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.navbar ul a {
    display: inline-flex;
    padding: 1rem;
    text-decoration: none;
    color: black;
    border: solid 2px white;
    border-bottom-width: 7px;
    border-radius: var(--radius);
    transition: var(--transition);
}

.navbar ul a:hover {
    transform: var(--transform);
    background-color: var(--sec-col);
    color: var(--pri-col);
    font-style: italic;
    border-color: var(--pri-col);
    box-shadow: var(--pri-shadow);
}

.navbar ul a:active {
    transition: none;
    background-color: var(--pri-col);
    color: var(--sec-col);
    border-color: var(--sec-col);
    box-shadow: var(--sec-shadow);
}

/* ================================================== MAIN ================================================== */

/* ************************* hero ************************* */
.hero {
    background-color: var(--ter-col);
    height: 85.8dvh;
    margin-top: 14.2dvh;
}

.heroCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80%;
}

/* ---------- heroLeft ---------- */
.heroLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dummy {
    display: flex;
    flex-direction: column;
}

.heroLeft h1 {
    font-size: 2.5rem;
    margin: 1rem;
}

.heroLeft h1 span {
    color: var(--punch-col);
}

.heroLeft p {
    margin: 1rem;
}

.heroLeft button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: solid 2px var(--pri-col);
    border-radius: var(--radius);
    border-bottom-width: 7px;
    background-color: var(--sec-col);
    color: var(--pri-col);
    font-weight: bold;
    box-shadow: var(--pri-shadow);
    transition: var(--transition);
}

.heroLeft button:hover {
    cursor: pointer;
    transform: var(--transform);
}

.heroLeft button:active {
    transition: none;
    background-color: var(--pri-col);
    color: var(--sec-col);
    border-color: var(--sec-col);
    box-shadow: var(--sec-shadow);
}

.achTab {
    height: 20%;
    background-color: var(--punch-col);
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item h2 {
    font-size: 2rem;
}

.item h3 {
    font-size: 1.5rem;
}

.cont1{
    border-right: solid 2px black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont2 {
    display: flex;
    flex-direction: column;
}

#sep {
    border: none;
}

/* ---------- heroRight ---------- */
.heroRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroRight img {
    mix-blend-mode: multiply;
    height: 25rem;
}

/* ************************* service ************************* */
.service {
    height: 85.8dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    gap: 1rem;
    background-color: white;
}

/* ---------- servLeft ---------- */
.servLeft {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--ter-col);
    border-radius: var(--radius);
    box-shadow: var(--pri-shadow);
    flex-direction: column;
    padding: 1rem;
}

#servArr {
    margin: 1rem 0;
    padding: 1rem 0;
    width: 100%;
    border-top: solid 2px rgba(0, 0, 0, 0.2);
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}

#servArr td {
    text-align: center;
    padding: 0.25rem;
}

#servArr td:nth-child(2) {
    text-align: left;
    color: var(--pri-col);
}

#servArr td:nth-child(3) {
    color: var(--punch-col);
    font-weight: bold;
    font-style: italic;
    text-align: right;
}

#servArr td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    background-color: var(--add-sec-col);
    color: var(--add-pri-col);
    outline: none;
    border: solid 2px var(--add-pri-col);
    border-radius: var(--radius);
    border-bottom-width: 7px;
    transition: var(--transition);
}

.addBtn:hover {
    cursor: pointer;
    transform: var(--transform);
    box-shadow: var(--add-shadow);
}

.addBtn:active {
    background-color: var(--add-pri-col);
    color: var(--add-sec-col);
    border-color: var(--add-sec-col);
    transition: none;
    box-shadow: var(--sec-shadow);
}

.addBtn p {
    font-weight: bold;
}

.subBtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    background-color: var(--sub-sec-col);
    color: var(--sub-pri-col);
    outline: none;
    border: solid 2px var(--sub-pri-col);
    border-radius: var(--radius);
    border-bottom-width: 7px;
    transition: var(--transition);
}

.subBtn:hover {
    cursor: pointer;
    transform: var(--transform);
    box-shadow: var(--sub-shadow);
}

.subBtn:active {
    background-color: var(--sub-pri-col);
    color: var(--sub-sec-col);
    border-color: var(--sub-sec-col);
    transition: none;
    box-shadow: var(--sec-shadow);
}

.subBtn p {
    font-weight: bold;
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: blue;
}

/* ---------- servRight ---------- */
.servRight {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    border-radius: var(--radius);
    min-height: 0;
}

/* ---------- servRightTop ---------- */
.servRightTop {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--ter-col);
    border-radius: var(--radius);
    box-shadow: var(--pri-shadow);
    min-height: 0;
}

#gridTable {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    border-radius: var(--radius);
    min-height: 0;
}

#gtCaption {
    text-align: center;
    flex: 0;
}

#gtHeader {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    flex: 0;
    background-color: white;
}

.tableHead {
    padding-left: 1rem;
}

#gtBody {
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: thin;
    min-height: 0;
}

.tableBod {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    padding: 0.25rem 0;
}

.sep {
    border-top: solid 1px rgba(0, 0, 0, 0.2);
}

.tableBod p {
    padding-left: 1.5rem;
}

.emptyBanner {
    text-align: center;
}

#gtFooter {
    flex: 0;
    display: grid;  
    grid-template-columns: 4fr 2fr;
    border-top: solid 2px rgba(0, 0, 0, 0.2);
    padding-top: 0.5rem;
}

.tableFoot {
    padding-left: 1rem;
}

/* ---------- servRightBottom ---------- */
.servRightBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--ter-col);
    border-radius: var(--radius);
    box-shadow: var(--pri-shadow);
    padding: 0.5rem;
    position: relative;
}

.servRightBottom h2 {
    margin-bottom: 0.5rem;
}

#name {
    width: 100%;
}

.servRightBottom input {
    border-radius: var(--radius);
    outline: none;
    border: solid 2px rgba(0, 0, 0, 0.2);
    padding: 0.25rem;
}

.emPhNo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    margin: 0.5rem 0;
}

.em {
    display: flex;
    flex-direction: column;
}

.phNo {
    display: flex;
    flex-direction: column;
}

#bkNw {
    width: 75%;
    padding: 0.5rem 0;
    margin: 0 auto;
    background-color: var(--sec-col);
    color: var(--pri-col);
    border: solid 2px var(--pri-col);
    border-bottom-width: 7px;
    border-radius: var(--radius);
    box-shadow: var(--pri-shadow);
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    transition: var(--transition);
}

#bkNw:not(.disabled):hover {
    transform: var(--transform);
    cursor: pointer;
}

#bkNw:not(.disabled):active {
    background-color: var(--pri-col);
    color: var(--sec-col);
    border-color: var(--sec-col);
    transition: none;
    box-shadow: var(--sec-shadow);
}

.disabled {
    opacity: 0.5;
    transform: none;
    transition: none;
    cursor: not-allowed;
}

#des {
    position: absolute;
    inset: 1rem 1rem auto auto;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

/* ************************* aboutUs ************************* */

.quality {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* height: 35dvh; */
    padding: 1rem;
    background-color: var(--ter-col);
}

.q {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

/* ************************* contactUs ************************* */
#contactUs{
    background-color: var(--punch-col);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
}

.cuLeft {
    font-size: 1.4rem;
    color: white;
}

.cuLeft h1 span {
    color: yellow;
    font-style: italic;
    text-decoration: wavy underline;
}

.cuRight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    gap: 0.75rem;
}

.cuRight input {
    padding: 0.5rem;
    background-color: lightskyblue;
    outline: none;
    border: solid 1px rgba(255, 255, 255, 0.75);
    border-radius: var(--radius);
    box-shadow: var(--pri-shadow);
}

.cuRight input::placeholder {
    color: white;
    font-weight: 100;
    font-size: 1rem;
}

.cuRight button {
    padding: 0.5rem;
    border-radius: var(--radius);
    outline: none;
    border: solid 2px var(--pri-col);
    color: var(--pri-col);
    background-color: var(--sec-col);
    border-bottom-width: 7px;
    box-shadow: var(--pri-shadow);
    transition: var(--transition);
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
}

.cuRight button:not(.disabled):hover {
    transform: var(--transform);
    cursor: pointer;
}

.cuRight button:not(.disabled):active {
    background-color: var(--pri-col);
    color: var(--sec-col);
    border-color: var(--sec-col);
    transition: none;
    box-shadow: var(--sec-shadow);
}

#info {
    font-weight: bold;
}

/* ================================================== FOOTER ================================================== */

#footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4rem;
    background: linear-gradient(to top , var(--pri-col), var(--sec-col), var(--ter-col), var(--punch-col));
}

.f {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.f ul {
    list-style: none;
}

.f a {
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: var(--radius);
    border: solid 2px rgba(0, 0, 0, 0);
    padding: 0.1rem;
    transition: var(--transition);
}

.f a:hover {
    transform: var(--transform);
    border-color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.5);
}

#lastList {
    display: flex;
    gap: 1rem;
}